mat-sidenav-content{
  padding-top: 64px;
}
camex-tool-bar{
  position: fixed;
  top:0px;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  ul{
      list-style: none;
      width: 200px;
  }
  .title{
      font-weight: 500;
      background-color: #0070ba;
      color: #f1f1f1;
      font-size: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
      margin-bottom: 3px;
  }
  .item{
    padding: 7px 10px;
    box-sizing: border-box; 
  }
  .item > a{
      text-decoration: none;
      font-weight: 300;
      color: #454545;
      font-size: 15px;
  }