  <section *ngIf="course">
    <div class="container" fxLayout="row" fxLayout.lt-sm="column">
      <div class="main-container" [ngStyle.lt-sm]="{'width':'100%','padding':'0px'}">
        <div class="information" [ngStyle.lt-sm]="{'padding':'10px'}">
          <div class="img" [style.background-image]="'url(' + course.url + ')'" [ngStyle.lt-sm]="{'height':'200px'}"></div>
          <h1>{{course.titulo}}</h1>

          <div class="chip-container" fxLayout="row" fxLayout.lt-sm="column">
            <div class="chip">
              <div class="icon">
                <mat-icon>perm_contact_calendar</mat-icon>
              </div>
              <div class="chip-container">
                <h3>Fechas</h3>
                <span *ngFor="let fecha of course.fechas" class="fechas">{{fecha | date: 'dd/MM/yy'}}<br></span>
              </div>
            </div>
    
            <div class="chip">
              <div class="icon">
                <mat-icon>monetization_on</mat-icon>
              </div>
              <div class="chip-container">
                <h3>Inversión</h3>
                <span>Costo - {{course.inversion}} Bs</span>
              </div>
            </div>
    
            <div class="chip">
              <div class="icon">
                <mat-icon>watch_later</mat-icon>
              </div>
              <div class="chip-container">
                <h3>Duración</h3>
                <span>Inicio: {{course.fechas[0] | date: 'HH:MM'}}<br>Duracion: {{course.duracion_sesion}}</span>
              </div>
            </div>
          </div>
          <p>{{course.descripcion}}</p>
        </div>
      </div>
  
      <div class="nav-container" [ngStyle.lt-sm]="{'width':'100%','padding':'0px'}" fxFlexOrder.lt-sm="-1">
        <div class="nav-information" [ngStyle.lt-sm]="{'padding':'10px'}">
          <h2>Reserva</h2>
          <h4>{{course.titulo}}</h4>
          <h5>{{course.fechas[0] |  date: 'dd/MM/yy'}}</h5>
          <div class="form-container">
            <form class="example-form">
  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre completo" [formControl]="nameFormControl" [(ngModel)]="reserva.nombre">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  El nombre es
                  <strong>necesario</strong>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Número de Teléfono" [formControl]="phoneFormControl" type="number" [(ngModel)]="reserva.telefono">
                <mat-error *ngIf="(phoneFormControl.hasError('min') || phoneFormControl.hasError('max')) && !phoneFormControl.hasError('required')">
                  Número incorrecto - introduzca un número correcto.
                </mat-error>
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                  El núnero de teléfono es
                  <strong>necesario</strong>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="reserva.correo">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Correo electrónico incorrecto
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  El correo electrónico es
                  <strong>necesario</strong>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Institución" [formControl]="institucionFormControl" [(ngModel)]="reserva.institucion">
              </mat-form-field>
  
            </form>
          </div>
  
          <button class="my-button" mat-raised-button [disabled]="(emailFormControl.hasError('email') || emailFormControl.hasError('required')
                                                                   || phoneFormControl.hasError('min') || phoneFormControl.hasError('max') || phoneFormControl.hasError('required')
                                                                    || nameFormControl.hasError('required') )" (click)="registrar()">Realizar reserva</button>
  

        </div>
      </div> 
    </div>
  </section>
  <mat-spinner *ngIf="!vision" style="margin:120px auto"></mat-spinner>
