:host{
    display: block;
    width: 100%;
    z-index: 998;
    box-sizing: border-box;
    background-color: #fff;

  }
    .mat-toolbar{
      height: 42px;
      background-color:transparent;
      padding: 0 45px;
      box-sizing: border-box;
    }
    ul{
        list-style: none;
        display: inline-flex;
    }
    li{
        height: 42px;
        padding: 3px 20px 5px 20px;
        box-sizing: border-box;
        border-bottom: solid 0px black;
        cursor: pointer;
        transition: .3s;
    }
    li:hover{
        border-bottom: solid 3px black;
        box-sizing: border-box;
    }

    li a{
        text-decoration: none;
        color: #343433;
        font-weight: 300;
        font-size: .92rem;
        font-family: 'Lato', sans-serif; 
    }
     a > mat-icon{
        font-size: 15px;
        position: relative;
        top: 2px;
        left: 8px;
    }
    mat-toolbar{
        display: flex;
        justify-content: center;
    }