<mat-toolbar [ngStyle.lt-md]="{padding:'0px  10px'}">
    <ul>
      <li>
        <a href="#" class="no-select">
          <mat-icon>access_time</mat-icon>
          Cronograma
        </a>
      </li>
      <li>
        <a href="#" class="no-select">
          <mat-icon>settings</mat-icon>
          Servicios
        </a>
      </li>
      <li>
        <a href="#" class="no-select">
          <mat-icon>pie_chart</mat-icon>
          Guía Empresarial
        </a>
      </li>
      <li>
        <a href="#cursos" class="no-select">
          <mat-icon>event</mat-icon>
          Cursos y Eventos
        </a>
      </li>
      <li>
        <a href="#" class="no-select">
          <mat-icon>star</mat-icon>
          Auspiciadores
        </a>
      </li>
      <li>
        <a href="#" class="no-select">
          <mat-icon>perm_contact_calendar</mat-icon>
          Contacto
        </a>
      </li>
    </ul>
</mat-toolbar>