.card{
    cursor: pointer;
    transition: .3s;
}
.container-desktop{
    height: 270px;
    overflow: hidden;
}

.img{
    width: 100%;
    height: calc( 100% - 119px);
    background-color: #313131;
    background-size: cover;
}
.event-information {
    width: 100%;
    height: 119px;
    padding: 0px 5px;
    box-sizing: border-box;
}
.event-title {
    width: 100%;
    height: 20px;
    padding: 7px 0 0 0;
    box-sizing: border-box;
}
.event-title > h3{
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: #454545;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.event-description {
    width: 100%;
    overflow: hidden;
}
.event-description > p {
    color: #363636;
    font-weight: 300;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 48px; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 15px;
    line-height: 16px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}
span{
    font-weight: 300;
    color: #656565;
    font-size: 13px;
    margin: 7px 0px 3px 0px;
    display: block;
}
.event-information a{
    color: #2196F3;;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
    float: right;
    text-decoration: none;
}