<div class="container">
  <section>
    <h2>¿Quienes somos?</h2>
    <p>
      La Cámara de Exportadores - CAMEX es una entidad privada de carácter gremial que representa a los exportadores y tiene como
      misión "Aportar al progreso económico y social de Bolivia, apoyando el crecimiento y diversificación de las exportaciones
      nacionales a través de la generación de condiciones de competitividad en el país"
    </p>
  </section>
  <section>
    <h2>Misión</h2>
    <p>
      Promover, promocionar e incentivar el comercio internacional a través de la prestación de servicios de pequeños, medianos
      y grandes empresarios de manera que se creen las condiciones necesarias para conseguir ventajas competitivas y normas
      transparentes en el comento de la exportación. Así mismo, lograr una adecuada representación de nuestros afiliados, ante
      poderes públicos, instituciones regionales, nacionales, extranjeras o internacionales.
    </p>
  </section>
  <section>
    <h2>Visión</h2>
    <p>
      Consolidarse como el órgano único y representativo de los exportadores del departamento de La Paz, mediante la prestación
      de servicios efectivos y vanguardistas que promueven la calidad y el sentido de exportación.
    </p>
  </section>
</div>
