
:host{
    width: 100%;
    display: block;
}
section{
    text-align: center;
    padding: 100px 10px 60px 10px;
}
h1{
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -1px;
    color: white;
}
h1:after,h1:before{
    content: '';
    display: block;
    width: 58px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}
h2{
    font-size: 42px;
    line-height: 38px;
    color: white;
    font-weight: 900;
    max-width: 670px;
    margin: 10px auto 14px auto;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
p{
    color: #f1f1f1;
    max-width: 420px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
    letter-spacing: .7px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}
button{
    margin: 15px 10px;
    background-color: transparent;
    border: solid 1px white;
    box-sizing: border-box;
    min-width: 200px;
    padding: 4px 20px;
}

button span{
    font-size: .87rem;
}
a{
    margin: 15px 10px;
    font-weight: 500;
    background-color: #0D47A1;
    width: 150px;
}
.revista-img{
    position: relative;
    top: -1px;
    height: 20px;
}
.buttons-container{
    max-width: 350px;
    margin: 0 auto;
}