<section class="contact" [ngStyle.gt-sm]="{'padding': '25px 60px 25px 60px' }">
  <div class="all-container">
    <div class="contact-dates" fxLayout="row" fxLayoutAlign="space-between center">
      <h4 [ngStyle.lt-sm]="{'font-size.px':14}">¿Necesitas más información?</h4>
      <div class="telf">
        <mat-icon>phone</mat-icon>
        <span>+591 7263212</span>
      </div>
      <div class="mail" fxHide.lt-sm>
        <mat-icon>mail</mat-icon>
        <span>camexBolivia@Bolivia.com</span>
      </div>
      <div class="location" fxHide.lt-sm>
        <mat-icon>place</mat-icon>
        <span>Av. Arce esq. Goitia #2021</span>
      </div>
    </div>
  </div>
</section>
<footer [ngStyle.gt-sm]="{'padding': '50px 80px 50px 80px' }">
  <div class="all-container">
    <div class="camex-footer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="60px">
      <div class="links">
        <h4>Link de interés</h4>
        <ul>
          <li>
            <a href="">Aduana Nacional de Bolivia</a>
          </li>
          <li>
            <a href="">Senavex</a>
          </li>
          <li>
            <a href="http://consulproject.org/es/">Consul</a>
          </li>
          <li>
            <a href="">Otro link mas</a>
          </li>
        </ul>
      </div>
      <div class="Social">
        <h4>Síguenos en</h4>
        <ul>
          <li>
            <a href="">
              <span class="social facebook"></span> Facebook</a>
          </li>
          <li>
            <a href="">
              <span class="social youtube"></span> YouTube</a>
          </li>
          <li>
            <a href="">
              <span class="social twitter"></span> Twitter</a>
          </li>
          <li>
            <h4>Escríbenos a</h4>
          </li>
          <li>
            <a href="">camebolivia@gmail.com</a>
          </li>
          <li>
            <a href="">
              <span class="social whatsapp"></span> +591 374363</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="yoteapoyo-footer">
  <small>Diseño y desarrollo @AuD</small>
</div>