.all-container{
    max-width: 1300px;
    margin: 0 auto;
}
.contact{
    width: 100%;
    padding: 20px 15px 20px 10px;
    box-sizing: border-box;
    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
}
.contact h4{
    color: white;
    font-weight: 300;
    font-size: 1.4375rem;
    text-align: center;
    line-height: 1.4375rem;
    margin: 15px 0px;
}
.contact-dates{
    width: 100%;
    color: white;
}
.contact-dates > div {
    text-align: center;
}
.title h4{
    font-weight: 300;
    color: #fff;
    font-size: 28px;
    font-family: 'Lato', sans-serif; 
}
.icon{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: solid 1px #c6c6c6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.icon-title{
    margin: 10px 0px;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 14px;
}
.icon > mat-icon{
    color: #c6c6c6;
}
.contact-dates > div > span{
    font-size: 12px;
    padding-left: 6px;
}
.line{
    width: 100%;
    display: block;
    border-top:1px solid #7fcbff;
}
footer{
    width: 100%;
    background-color: #eee;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
}
.camex-footer{
    width: 100%;
}
.camex-footer h4{
    color: #454545;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    letter-spacing: .8px;
    margin-bottom: 10px;
    margin-top: 8px;
    letter-spacing: -.5px;
}
.camex-footer a{
    text-decoration: none;
    font-size: 15px;
    color: #9f9f9f;
    font-weight: 300;
}
.camex-footer ul {
    list-style: none;
}
.camex-footer li{
    padding: 5px 2px;
    box-sizing: border-box;
}
.camex-footer li:hover{
    text-decoration: underline;
}
.social{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../../../../assets/images/social/social-icons.png);
    background-size: 72px 18px;
    position: relative;
    top:4px;
}
.facebook{
    background-position-x: 0px;
}
.youtube{
    background-position-x: -36px;
}
.whatsapp{
    background-position-x: -18px;
}
.twitter {
    background-position-x: -54px;
}
.yoteapoyo-footer{
    width: 100%;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border-top: 1px rgba(200, 200, 200, .1) solid;
    background-color: #eee;
    height: 180px;
    display: flex;
    justify-content: center;
}
.aud-container img{
    margin: 10px 0px;
}
.aud-container{
    text-align: center;
}
.aud-container p{
    font-size: 13px;
    font-weight: 200;
    color: #000;
}