<div class="container">
  <section>
    <h2>Asesoramiento</h2>
    <p>
      CAMEX cuenta con un Centro Publico integral de servicios especializados y orientados al crecimiento y diversificación de
      sus actividades empresariales y Gestión de exportación Asesoramiento Empresarial, Asesoramiento en logística y Procedimientos
      de exportación orientado al sector.
    </p>
  </section>
  <section>
    <h2>Capacitación</h2>
    <p>
      Contamos con varios programas de Capacitación, a fin de apropiar las capacidades para el adecuado desempeño del Equipo Humano
      de una entidad, trabajo eficiente y desarrollo personal, de manera que facilite el logro de los objetivos definidos
      por cargo, área o proceso.
    </p>
  </section>
  <section>
    <h2>Desarrollo empresarial</h2>
    <p>
      Brindamos Orientación acerca del medio y forma en la que una empresa y su personal puedan optimizar todos sus recursos, la
      innovación de productos, y demás procesos para que la empresa crezca con el fin de internacionalizarse.
    </p>
  </section>
</div>