<camex-nav-bar fxHide.lt-md></camex-nav-bar>
<section class="header">
    <camex-carousel></camex-carousel>
    <div class="last-events-container">
        <camex-last-events></camex-last-events>
    </div>
</section>
<camex-servicios></camex-servicios>
<camex-guia></camex-guia>
<section class="courses-container">
    <camex-courses-bar></camex-courses-bar>
</section>
<section class="courses-container">
    <!-- <camex-events-bar></camex-events-bar> -->
</section>
<camex-news-bar></camex-news-bar>
<camex-sponsors></camex-sponsors>
<camex-footer></camex-footer>