<section class="courser-container">
    <h3 class="title">Eventos</h3>
  <div class="courses-section">
      <div class="cards-container" [ngStyle.lt-md]="{'width':'100%'}">
        <div *ngIf="vision">
            <owl-carousel [options]="configuration" [items]="courses" [carouselClasses]="['owl-theme', 'row', 'sliding']" #owl>
                <div class="item" *ngFor="let course of courses; let i=index">
                    <camex-event-card [course]="course"></camex-event-card>
                </div>
            </owl-carousel>
        </div>
      </div>
      <div  *ngIf="vision" class="vertical-options no-select" fxHide [fxHide.gt-sm]="false">
          <div class="see-more" (click)="owl.next()">
              <mat-icon>fast_forward</mat-icon>
              <p>Ver mas</p>
          </div>
      </div>
  </div>
</section>
