
<section class="new-services">
    <a class="service-container" (click)="navigate('services')">
        <img src="../../../../assets/images/icon01.png" alt="">
        <h3>Asesoramiento</h3>
    </a>
    <a class="service-container" (click)="navigate('services')">
        <img src="../../../../assets/images/icon02.png" alt="">
        <h3>Capacitación</h3>
    </a>
    <a class="service-container" (click)="navigate('services')">
        <img src="../../../../assets/images/icon03.png" alt="">
        <h3>Desarrollo empresarial</h3>
    </a>
</section>
