
.sponsors-container{
    background-color: #eee;
     width: 100%;
     box-sizing: border-box;
     padding: 20px 10px;
     color: #fff;
 }
 .all-container{
     max-width: 1300px;
     margin: 0 auto;
     text-align: center;
 }
 h3{
     color: #f1f1f1;
     font-size: 16px;
     font-weight: 300;
     text-transform: capitalize;
     margin: 10px 0px;
 }
