.events-container{
    background-color: #eee;
     width: 100%;
     padding: 20px 10px;
     box-sizing: border-box;
 }
 .all-container{
     max-width: 1300px;
     margin: 0 auto;
 }
 .title{
    font-size: 1.5rem;
    color: #212121;
    font-weight: 700;
    line-height: 1.625rem;
    height: 1.625rem;
    letter-spacing: .3px;
    font-family: 'Lato', sans-serif; 
}
.title-container {
    height: 70px;
}
.title-container span{
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
}
.options{
    padding-right: 20px;
    box-sizing: border-box;
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
}
.options-container{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.line{
    height: 30px;
    margin: 0 8px;
    border-left: solid 1px #d3d3d3;
}